PORT=8000
PREFERRED_QUALITY=flac
DOWNLOAD_CONCURRENCY=2
DOWNLOAD_TIMEOUT_MS=300000
FILTER_WORDS=Live,现场版
ALLOW_UNSAFE_VM=true
# TG_BOT_TOKEN=
# TG_CHAT_ID=
# TG_PROXY=http://127.0.0.1:7890
# TG_LISTEN=true
# TG_ALLOWED_IDS=123456789
